/* Chatbot.css */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 450px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
}

.chatbot-container.visible {
  opacity: 1;
  visibility: visible;
}
.chatbot-messages {
  height: 400px;
  overflow-y: scroll;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.message {
  margin: 4px 0;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}
.user-message {
  background-color: #024731;
  color: #fff;
  text-align: right;
  width: fit-content;
  align-self: flex-end;
  padding-left: 3%;
  padding-right: 3%;
}
.ai-message {
  background-color: #006a4d;
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  word-break: break-word;
  padding-right: 2%;
}
.chatbot-input-form {
  display: flex;
  margin-top: 16px;
}
.chatbot-input-form input {
  flex: 1;
  padding: 10px;
  /* Edit the below line when we show the other style */
  border: 1px solid #024731;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}
.chatbot-input-form button {
  padding: 8px 16px;
  border: none;
  background-color: #024731;
  color: #fff;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}
.chatbot-input-form button:hover {
  background-color: #024731;
}
.closeButton :hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #083627;
}

.chatIcon {
  position: fixed;
  bottom: 8%;
  right: 3%;
  font-weight: 500;
}
.chatIcon:hover {
  cursor: pointer;
}
.offer-banner {
  background-color: #4caf50; /* Green color for success */
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Add styles for the visible and hidden states */
.feedback-buttons {
  display: flex;
  justify-content: center;
  color: #024731;
}

/* .feedback-buttons.hidden {
  display: none;
}

.feedback-buttons.visible {
  display: flex;
} */

/* Add this to your Chatbot.css or create a new CSS file */
@keyframes sparkling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.sparkling {
  animation: sparkling 0.5s ease-out;
}
